:root{
    --primary-color: #E67F22;
    --secondary-color: #47C575;
    --third-color: #5FA0C2;
    --white-color: #FFFFFF;
    --gray-color: #F7F4ED;
    --orange-color: #F8D350;
    --police-color: #adb0ad;
    --title-color: #858384;
    --font-family: Arial, sans-serif;
}



/* Styles généraux - Mobile First */



body {
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: var(--white-color);
    margin: 0;
    padding: 0;
    color:var(--police-color);
    display: block;
}

.container{
    width: 30%;
}

legend{
    color: var(--title-color);
}
/* Header */
header {
    background-color:var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header div {
    display: flex;
    align-items: center;
}

header img {
    height: 40px;
    margin-right: 10px;
}
.logo-title-img{
   border-radius: 50%;
   margin-left: 50px;
}
.logo-img{
    height: 16px;
    width: 16px;
}
   
h1{
    color: var(--primary-color);
   font-size: 22px;
}
h2{
    color: var(--title-color);
}

nav ul {
    list-style: none;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: var(--police-color);
    font-weight: bold;
    padding: 10px;
    display: block;
}
.menu-nav{
    display: flex;
    flex-direction: row;
    display: none;
}

#theme-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

/* Recherche et filtres */
section:first-of-type {
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    
}

button {
    background-color: var(--primary-color) ;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
.nav-rechercher{
font-size: 8px;
  gap: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 185px;
  height: 15px;
  text-align: center;
  border-spacing: 10px;
  
}

button:hover {
    background-color: var(--primary-color);
}

fieldset {
    border: none;
    margin: 10px 0;
}

legend {
    font-weight: bold;
}

/* Section des recettes */
section:last-of-type {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}

article {
    background: white;
   
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

article img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

article h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

article div {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

article div span {
    color: var(--white-color);
    padding: 3px 7px;
    border-radius: 15px;
    font-size: 0.9rem;
    height: 1.5rem ;
    
    display: flex;
    width: 33%;
    
}
/* couleur des bouttons */
.variete-menu{
    display: flex;
    background-color: var(--primary-color);
    text-align: center;
    align-items: center;
}

.temps{
    background-color: var(--secondary-color);
    text-align: center;
    align-items: center;
}
.difficulte{
    background-color: var(--third-color);
    text-align: center;
    align-items: center;
}

.bouttons{
    display: flex;
    justify-content: space-around;
}

/* Footer */
footer {
    background-color: var(--white-color);
    color: var(--police-color);
    padding: 10px;
    margin-top: 20px;
    text-align: center;