/* 
:root{
    --primary-color: #E67F22;
    --secondary-color: #47C575;
    --third-color: #5FA0C2;
    --white-color: #FFFFFF;
    --gray-color: #F7F4ED;
    --orange-color: #F8D350;
    --police-color: #adb0ad;
    --title-color: #858384;
    --font-family: Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: var(--white-color);
    margin: 0;
    padding: 0;
    color:var(--police-color);
    display: block;
}
.container{
    width: 30%;
}
header{
    box-shadow: #adb0ad;
    
}
h1{
    color: var(--primary-color);
    font-size: 22px;
}
.burger{
    
        height: 16px;
        width: 16px;
}*/

:root {
    --primary-color: #E67F22;
    --secondary-color: #47C575;
    --third-color: #5FA0C2;
    --white-color: #FFFFFF;
    --gray-color: #F7F4ED;
    --orange-color: #F8D350;
    --police-color: #adb0ad;
    --title-color: #858384;
    --font-family: Arial, sans-serif;
}

body {
    font-family: var(--font-family);
    
    color: var(--title-color);
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
    text-align: center;
}

.logo-title-img {
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
}
.burger{
    
    width: 30px;
}
.menu-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-nav li {
    display: inline;
}

.menu-nav a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: bold;
    display: none;
}

button#theme-toggle {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--white-color);
}

main {
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
h1{
    color: var(--primary-color);
}
 h2 {
    color: var(--title-color);
}

article img {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

ul, ol {
    padding-left: 20px;
}

footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

footer .menu-nav {
    justify-content: center;
    
}

footer a {
    color: var(--white-color);
    text-decoration: none;
}
